.btn {
  border-width: 2px;
}
body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0059ff !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #0300ff !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0059ff !important;
  border-color: #0059ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #003ba8 !important;
  border-color: #003ba8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #003ba8 !important;
  border-color: #003ba8 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #0300ff !important;
  border-color: #0300ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0200a8 !important;
  border-color: #0200a8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0200a8 !important;
  border-color: #0200a8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #0059ff;
  color: #0059ff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #003ba8 !important;
  background-color: transparent!important;
  border-color: #003ba8 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0059ff !important;
  border-color: #0059ff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0300ff;
  color: #0300ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0200a8 !important;
  background-color: transparent!important;
  border-color: #0200a8 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0300ff !important;
  border-color: #0300ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0059ff !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #0300ff !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #003599 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #020099 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0059ff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0300ff;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0059ff;
  border-color: #0059ff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #0059ff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ccdeff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #cdccff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0059ff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #0059ff;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0059ff;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0059ff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0059ff;
  border-bottom-color: #0059ff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0059ff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230059ff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tkfgjK4tk5 {
  background-image: url("../../../assets/images/background3-1900x1200.jpg");
}
.cid-tkfgjK4tk5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkfgjK4tk5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tkfgjK4tk5 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tkfgjK4tk5 .row {
  flex-direction: row-reverse;
}
.cid-tkfgjK4tk5 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tkfgjK4tk5 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tkfgjK4tk5 .mbr-section-title {
  color: #0300ff;
}
.cid-tkfvFv3wwf {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tkfvFv3wwf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkfvFv3wwf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkfvFv3wwf .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tkfvFv3wwf .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tkfvFv3wwf .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tkfvFv3wwf .card {
    margin-bottom: 2rem;
  }
  .cid-tkfvFv3wwf .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tkfXIAbGRV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-tkfXIAbGRV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkfXIAbGRV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkfXIAbGRV .timelines-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.cid-tkfXIAbGRV .timeline-element {
  position: relative;
}
.cid-tkfXIAbGRV .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tkfXIAbGRV .iconBackground {
  position: absolute;
  left: 33.33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #2299aa;
  top: 30px;
  margin-left: -9px;
  padding: 0;
}
.cid-tkfXIAbGRV .separline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #2299aa;
  left: 33.33%;
  height: calc(100% + 30px);
}
@media (max-width: 767px) {
  .cid-tkfXIAbGRV .iconBackground {
    left: 15px !important;
  }
  .cid-tkfXIAbGRV .separline:before {
    left: 15px !important;
  }
}
.cid-tkfXIAbGRV .mbr-section-title,
.cid-tkfXIAbGRV .mbr-section-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tkfXIAbGRV .time-line-date-content {
    margin-left: 1rem;
  }
  .cid-tkfXIAbGRV .time-line-date-content .mbr-timeline-date {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-tkfXIAbGRV .time-line-date-content {
    margin-right: 1rem;
  }
  .cid-tkfXIAbGRV .time-line-date-content .mbr-timeline-date {
    text-align: right;
  }
}
.cid-tkfXIAbGRV .timeline-text-content {
  margin-left: 2rem;
}
.cid-tkfXIAbGRV .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-tkfXIAbGRV .mbr-timeline-date {
  text-align: right;
  color: #e43f3f;
}
.cid-tkfXIAbGRV .mbr-timeline-title {
  color: #0300ff;
}
.cid-tkg1CfFmlm {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tkg1CfFmlm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkg1CfFmlm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1500px) {
  .cid-tkg1CfFmlm .container {
    max-width: 1400px;
  }
}
.cid-tkg1CfFmlm .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tkg1CfFmlm .card-wrapper {
  margin-top: 3rem;
}
.cid-tkg1CfFmlm .row {
  justify-content: center;
}
.cid-tkkm8ASFb7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-tkkm8ASFb7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkkm8ASFb7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkkm8ASFb7 .nav-tabs .nav-item.open .nav-link:focus,
.cid-tkkm8ASFb7 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tkkm8ASFb7 .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #6592e6;
}
@media (max-width: 767px) {
  .cid-tkkm8ASFb7 .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-tkkm8ASFb7 .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-tkkm8ASFb7 .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-tkkm8ASFb7 .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-tkkm8ASFb7 .nav-link,
.cid-tkkm8ASFb7 .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-tkkm8ASFb7 .nav-tabs .nav-link.active {
  color: #6592e6;
  border-bottom: 3px solid #6592e6;
}
.cid-tkkm8ASFb7 H4 {
  text-align: center;
}
.cid-tkkm8ASFb7 H3 {
  text-align: center;
}
.cid-tkkzJDL9IU {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tkkzJDL9IU img {
  width: 120px;
  margin: auto;
}
.cid-tkkzJDL9IU .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tkkzJDL9IU .card {
    max-width: 12.5%;
  }
}
.cid-tkkrLmGWTT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-tkkrLmGWTT .mbr-overlay {
  background: #fafafa;
  opacity: 0.1;
}
.cid-tkkrLmGWTT img,
.cid-tkkrLmGWTT .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tkkrLmGWTT .item:focus,
.cid-tkkrLmGWTT span:focus {
  outline: none;
}
.cid-tkkrLmGWTT .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tkkrLmGWTT .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tkkrLmGWTT .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tkkrLmGWTT .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tkkrLmGWTT .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tkkrLmGWTT .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tkkrLmGWTT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tkkrLmGWTT .mbr-section-title {
  color: #ffffff;
}
.cid-tkkrLmGWTT .mbr-text,
.cid-tkkrLmGWTT .mbr-section-btn {
  text-align: left;
}
.cid-tkkrLmGWTT .item-title {
  text-align: left;
}
.cid-tkkrLmGWTT .item-subtitle {
  text-align: left;
}
.cid-tkkrLmGWTT .mbr-section-subtitle {
  color: #fafafa;
}
.cid-tkkvldlpuN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tkkvldlpuN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkkvldlpuN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkkvldlpuN .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cid-tkkvldlpuN .item .icon-wrap {
  text-align: center;
}
.cid-tkkvldlpuN .item span {
  font-size: 2rem;
  color: #ffffff;
  line-height: 60px;
}
.cid-tkkvldlpuN .item::before {
  content: "\e96b";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: -15px;
  top: 12%;
  top: 20%;
  color: #6592e6;
}
.cid-tkkvldlpuN .item.first:before {
  display: none;
}
.cid-tkkvldlpuN .item.five:before {
  display: none;
}
.cid-tkkvldlpuN .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.cid-tkkvldlpuN .text-box {
  margin-top: 1rem;
  text-align: center;
}
.cid-tkkvldlpuN .mbr-iconfont {
  color: #0059ff !important;
  position: absolute;
  top: 50%;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-tkkvldlpuN .item:before {
    display: none;
  }
  .cid-tkkvldlpuN .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tkpBOHz3w1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-tkpBOHz3w1 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tkpBOHz3w1 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tkpBOHz3w1 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tkpBOHz3w1 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-p5VRNDnF08 {
  padding-top: 30px;
  background: linear-gradient(180deg, #fafafa, #fafafa);
}
.cid-p5VRNDnF08 .wave1 {
  opacity: 0.35;
  fill: #0300ff;
}
.cid-p5VRNDnF08 .wave2 {
  fill: #0300ff;
}
.cid-tkwIaXZaEX {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0300ff;
}
.cid-tkwIaXZaEX .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tkwIaXZaEX .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tkwIaXZaEX .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tkwIaXZaEX .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tkwIaXZaEX .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tkwIaXZaEX .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tkwIaXZaEX .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tkwIaXZaEX .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tkwIaXZaEX .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tkwIaXZaEX .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tkwIaXZaEX .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tkwIaXZaEX .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tkwIaXZaEX .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tkwIaXZaEX .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tkP8xoYtRg {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tkP8xoYtRg nav.navbar {
  position: fixed;
}
.cid-tkP8xoYtRg .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkP8xoYtRg .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tkP8xoYtRg .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tkP8xoYtRg .dropdown-item:hover,
.cid-tkP8xoYtRg .dropdown-item:focus {
  background: #0059ff !important;
  color: white !important;
}
.cid-tkP8xoYtRg .dropdown-item:hover span {
  color: white;
}
.cid-tkP8xoYtRg .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tkP8xoYtRg .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tkP8xoYtRg .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tkP8xoYtRg .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tkP8xoYtRg .nav-link {
  position: relative;
}
.cid-tkP8xoYtRg .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tkP8xoYtRg .container {
    flex-wrap: nowrap;
  }
}
.cid-tkP8xoYtRg .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tkP8xoYtRg .dropdown-menu,
.cid-tkP8xoYtRg .navbar.opened {
  background: #ffffff !important;
}
.cid-tkP8xoYtRg .nav-item:focus,
.cid-tkP8xoYtRg .nav-link:focus {
  outline: none;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkP8xoYtRg .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tkP8xoYtRg .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tkP8xoYtRg .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tkP8xoYtRg .navbar.opened {
  transition: all 0.3s;
}
.cid-tkP8xoYtRg .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tkP8xoYtRg .navbar .navbar-logo img {
  width: auto;
}
.cid-tkP8xoYtRg .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tkP8xoYtRg .navbar.collapsed {
  justify-content: center;
}
.cid-tkP8xoYtRg .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tkP8xoYtRg .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tkP8xoYtRg .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tkP8xoYtRg .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tkP8xoYtRg .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tkP8xoYtRg .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tkP8xoYtRg .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tkP8xoYtRg .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tkP8xoYtRg .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tkP8xoYtRg .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tkP8xoYtRg .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tkP8xoYtRg .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tkP8xoYtRg .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tkP8xoYtRg .navbar.navbar-short {
  min-height: 60px;
}
.cid-tkP8xoYtRg .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tkP8xoYtRg .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tkP8xoYtRg .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tkP8xoYtRg .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tkP8xoYtRg .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tkP8xoYtRg .dropdown-item.active,
.cid-tkP8xoYtRg .dropdown-item:active {
  background-color: transparent;
}
.cid-tkP8xoYtRg .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tkP8xoYtRg .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tkP8xoYtRg .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tkP8xoYtRg .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tkP8xoYtRg .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tkP8xoYtRg .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tkP8xoYtRg ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tkP8xoYtRg .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tkP8xoYtRg button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tkP8xoYtRg a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tkP8xoYtRg .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tkP8xoYtRg .navbar {
    height: 70px;
  }
  .cid-tkP8xoYtRg .navbar.opened {
    height: auto;
  }
  .cid-tkP8xoYtRg .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-NEAUtqcdKb .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 22px;
  right: 22px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.cid-NEAUtqcdKb .my-float {
  margin-top: 16px;
}
.cid-NEAUtqcdKb P {
  color: #232323;
}
.cid-NEAUtqcdKb DIV {
  color: #ffffff;
}
.cid-NEAUtqcdKb H10 {
  color: #767676;
}
.cid-NEAUtqcdKb .hidden {
  display: none;
}
.cid-tkxhhqbshJ {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-tkxhhqbshJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tkxhhqbshJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tkxhoSWDoH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-tkxhoSWDoH blockquote {
  border-color: #0300ff;
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-tkxhoSWDoH .mbr-text {
  text-align: left;
}
.cid-tkRwTPfbsa {
  padding-top: 30px;
  background: linear-gradient(180deg, #fafafa, #fafafa);
}
.cid-tkRwTPfbsa .wave1 {
  opacity: 0.35;
  fill: #0300ff;
}
.cid-tkRwTPfbsa .wave2 {
  fill: #0300ff;
}
.cid-tkRx02x4kH {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0300ff;
}
.cid-tkRx02x4kH .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tkRx02x4kH .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tkRx02x4kH .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tkRx02x4kH .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tkRx02x4kH .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tkRx02x4kH .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tkRx02x4kH .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tkRx02x4kH .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tkRx02x4kH .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tkRx02x4kH .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tkRx02x4kH .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tkRx02x4kH .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tkRx02x4kH .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tkRx02x4kH .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tkP8xoYtRg {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tkP8xoYtRg nav.navbar {
  position: fixed;
}
.cid-tkP8xoYtRg .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkP8xoYtRg .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tkP8xoYtRg .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tkP8xoYtRg .dropdown-item:hover,
.cid-tkP8xoYtRg .dropdown-item:focus {
  background: #0059ff !important;
  color: white !important;
}
.cid-tkP8xoYtRg .dropdown-item:hover span {
  color: white;
}
.cid-tkP8xoYtRg .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tkP8xoYtRg .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tkP8xoYtRg .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tkP8xoYtRg .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tkP8xoYtRg .nav-link {
  position: relative;
}
.cid-tkP8xoYtRg .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tkP8xoYtRg .container {
    flex-wrap: nowrap;
  }
}
.cid-tkP8xoYtRg .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tkP8xoYtRg .dropdown-menu,
.cid-tkP8xoYtRg .navbar.opened {
  background: #ffffff !important;
}
.cid-tkP8xoYtRg .nav-item:focus,
.cid-tkP8xoYtRg .nav-link:focus {
  outline: none;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tkP8xoYtRg .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tkP8xoYtRg .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tkP8xoYtRg .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tkP8xoYtRg .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tkP8xoYtRg .navbar.opened {
  transition: all 0.3s;
}
.cid-tkP8xoYtRg .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tkP8xoYtRg .navbar .navbar-logo img {
  width: auto;
}
.cid-tkP8xoYtRg .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tkP8xoYtRg .navbar.collapsed {
  justify-content: center;
}
.cid-tkP8xoYtRg .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tkP8xoYtRg .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tkP8xoYtRg .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tkP8xoYtRg .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tkP8xoYtRg .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tkP8xoYtRg .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tkP8xoYtRg .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tkP8xoYtRg .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tkP8xoYtRg .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tkP8xoYtRg .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tkP8xoYtRg .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tkP8xoYtRg .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tkP8xoYtRg .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tkP8xoYtRg .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tkP8xoYtRg .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tkP8xoYtRg .navbar.navbar-short {
  min-height: 60px;
}
.cid-tkP8xoYtRg .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tkP8xoYtRg .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tkP8xoYtRg .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tkP8xoYtRg .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tkP8xoYtRg .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tkP8xoYtRg .dropdown-item.active,
.cid-tkP8xoYtRg .dropdown-item:active {
  background-color: transparent;
}
.cid-tkP8xoYtRg .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tkP8xoYtRg .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tkP8xoYtRg .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tkP8xoYtRg .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tkP8xoYtRg .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tkP8xoYtRg .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tkP8xoYtRg ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tkP8xoYtRg .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tkP8xoYtRg button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tkP8xoYtRg button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tkP8xoYtRg nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tkP8xoYtRg .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tkP8xoYtRg a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tkP8xoYtRg .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tkP8xoYtRg .navbar {
    height: 70px;
  }
  .cid-tkP8xoYtRg .navbar.opened {
    height: auto;
  }
  .cid-tkP8xoYtRg .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tkRtGO3OV8 .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 22px;
  right: 22px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.cid-tkRtGO3OV8 .my-float {
  margin-top: 16px;
}
.cid-tkRtGO3OV8 P {
  color: #232323;
}
.cid-tkRtGO3OV8 DIV {
  color: #ffffff;
}
.cid-tkRtGO3OV8 H10 {
  color: #767676;
}
.cid-tkRtGO3OV8 .hidden {
  display: none;
}
